body{
    background-image: url(https://previews.123rf.com/images/cnuisin/cnuisin1806/cnuisin180600019/103217924-paw-seamless-pattern-dog-paw-cat-paw-bulldog-vector-isolated-background-wallpaper.jpg);
}
.whiteBackground{
    background-color: white;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    position: relative;
    z-index: 10;
    font-size: 30px;
    width: 1560px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/*
* PETS TABLES
*/
.tableCheckIfPetlistNull{
    border: solid black 1.6px;
}
.adoptedPetsTableTitle{
    text-align: left;
}
.adoptedPetsTableSearch{
    font-size: 18px;
}
.tableSearchTitle{
    font-weight: bold;
}
.adoptedPetsTableSearchForm{
    font-size: 12px;
}
.adoptedPetsTableSearchIdLabel{
    font-size: 16px;
}
.adoptedPetsTableSearchIdInput{
    height: 20px;
}
.adoptedPetsTableSearchButton{
    height: 26px;
    font-size: 16px;
}
.petsTableColumns{
    font-size: 20px;
    text-align: center;
}
th{
    vertical-align: middle;
}
.petsTableBodyTd{
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle!important;
    text-align: center;
}
.petImg{
    width: 36px;
    height: 36px;
    border-radius: 24px;
}
.nameText{
    font-weight: normal;
}

/*
* VISUALISATIONS
*/
.visuTitle{
    font-weight: bold
}
.entireGraphDiv{
    border: solid;
    border-color: gray;
    border-width: 1px;
    width: 440px;
    padding-left: 10px;
}
.svgGraphDiv{
    text-align: center;
}
.adoptedTypes{
    margin: auto;
}
.graphLabel{
    text-align: center;
    margin: auto;
    font-size: 16px;
}
.dcGraphDiv{
    color: black;
    margin: auto;
}
.spanStyle{
    display: none;
}
.row2graphDiv{
    width: 440px;
    padding-left: 10px;
}
.row3graphDiv{
    border: solid;
    border-color: gray;
    border-width: 1px;
    width: 440px;
    padding-left: 10px;
}
.smallNavBarUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.smallNavBarLi{
    float: left;
}

#COMPLETED{
    background-color: darkseagreen;
}

#CLOSED{
    background-color: red;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
p{
    height: min-content;
}
input{
    height: 20px
}
label{
    font-size: 16px
}
rect{
    background-color: red;
}