<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Center details</title>
    <link rel="stylesheet" href="http://formoid.com/articles/data/upload/theme/style.min.css">
    <!-- <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/details/center.css}"> </link>
</head>
<body>
    <header th:replace="fragments/navbar.html"/>

        <div class="classc">
            <div title="entirePage" style="font-family:'Times New Roman', Times, serif">

                <!-----------------------ROW 1 - BASIC INFO------------------------->
                <div class="row" id="row1" title="row1">

                    <!-----------------------LEFT COL - IMAGE------------------------->
                    <div class="col-md-6" title="row1_leftCol">
                        <div class="row">
                            <div class="img_div" >
                                <img class="imgImg" th:src="${center.getUrl()}" />
                            </div>
                            </a>
                        </div>
                        </br>
                    </div>
                    <!-------------------------LEFT COL - END-------------------------->
                    <!-----------------------RIGHT COL - TITLE & TIME & AUTHOR------------------------->
                    <div class="col-md-6" title="row1_rightCol" style="margin-left: -40px">
                        <!--TITLE-->
                        <div  th:text="${center.getAddress()}"  title="title" style="text-align:left; font-size:60px; font-weight: bold">

                        </div>


                        <div th:text="${center.getCity.name()}" style="text-align:left; font-size:20px;">
                        </div>

                        <hr />
                        <!--<div class="row" style="margin-left: -80px">

                            <div class="col-md-6" style="color:darkgrey; text-align:center">
                                <div class="row" style="font-weight: bold; font-size: 20px">
                                    Current state:
                                </div>
                                <div class="row" th:text="${causeSum}" style="font-size: 70px"></div>
                                <div class="row" style="font-weight: bold; font-size: 40px">
                                    MKD
                                </div>
                            </div>

                            <div class="col-md-6" style="color:darkgrey; text-align:center">
                                <div class="row" style="font-weight: bold; font-size: 20px">
                                    Goal:
                                </div>
                                <div class="row" th:text="${cause.getGoal()}" style="font-size: 70px"></div>
                                <div class="row" style="font-weight: bold; font-size: 40px">
                                    MKD
                                </div>
                            </div>
                        </div>
                        -->
                        </hr>
                    </div>


                    <!-----------------------RIGHT COL - END------------------------->

                </div>
                <!-----------------------ROW 1 - END------------------------->
                <!-----------------------ROW 2 - INGREDIENTS------------------------->
                <div class="row" title="row2_ingredients">
                    <hr />
                    <div>


            </div>
                </div>
            </div>
        </div>

    <footer th:replace="fragments/footer.html"/>
</body>
</html>