<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Add cause</title>
        <link rel="stylesheet" href="http://formoid.com/articles/data/upload/theme/style.min.css">
        <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
    </head>

    <body>
    <header th:replace="fragments/navbar.html"/>
        <section class="jumbotron text-center" style="background-color: cornflowerblue">
            <div class="container">
                <h1 class="jumbotron-heading" >ADD NEW DONATION CAUSE</h1>
            </div>
        </section>

    <form action="/causes/causePost" method="POST">
        <input id="id" type="hidden" name="id" th:value="(${cause} != null ? ${cause.getId()} : '')" >
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               th:value="(${cause} != null ? ${cause.getName()} : '')"
                               name="name" required>
                        <!-- th:value="(${pet} != null ? ${pet.getAddress()} : '')"-->
                    </div>

                    <div class="form-group">
                        <label for="url">url</label>
                        <input type="text"
                               class="form-control"
                               id="url"
                               th:value="(${cause} != null ? ${cause.getImageUrl()} : '')"
                               name="url" required>
                        <!-- th:value="(${pet} != null ? ${pet.getAddress()} : '')"-->
                    </div>

                    <div class="form-group">
                        <label for="description">description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               th:value="(${cause} != null ? ${cause.getDescription()} : '')"
                               name="description" required>
                        <!-- th:value="(${pet} != null ? ${pet.getAddress()} : '')"-->
                    </div>

                    <div class="form-group">
                        <label for="goal">goal</label>
                        <input type="text"
                               class="form-control"
                               id="goal"
                               th:value="(${cause} != null ? ${cause.getGoal()} : '')"
                               name="goal" required>
                        <!-- th:value="(${pet} != null ? ${pet.getAddress()} : '')"-->
                    </div>

                    <div class="form-group">
                        <label for="importance">importance</label>
                        <input type="text"
                               class="form-control"
                               id="importance"
                               th:value="(${cause} != null ? ${cause.getImportance()} : '')"
                               name="importance" required>
                        <!-- th:value="(${pet} != null ? ${pet.getAddress()} : '')"-->
                    </div>

                    <div>
                        <label>Related pets:</label><br/>
                        <select id="petsIds" name="petsIds" multiple="multiple" size="5">
                            <option th:each="item : ${allPets}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()} "> [pets.name]</option>
                        </select>
                    </div>


                    <button id="submit" type="submit" class="btn btn-primary" style="background-color: cornflowerblue; border: none">Submit</button>

            </div>
        </div>
    </div>
    </form>
        <footer th:replace="fragments/footer.html"/>
    </body>
</html>
