<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Donate</title>
        <meta charset="UTF-8"/>
        <title>Register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
        <header th:replace="fragments/navbar.html"/>
        <div class="container">

            <a class="add_center_button" href="/causes">
                WHAT WE USE THE DONATIONS FOR
            </a>

            <form class="form-signin mt-xl-5" method="post" action="/donate">
                <h2 class="form-signin-heading">Donate</h2>
                <p>
                    <label for="sum" class="sr-only">sum</label>
                    <input type="text" id="sum" name="sum" class="form-control" placeholder="sum" required=""
                           autofocus="">
                </p>
                <p>
                    <label for="cardNumber" class="sr-only">card number</label>
                    <input type="text" id="cardNumber" name="cardNumber" class="form-control" placeholder="cardNumber" required=""
                           autofocus="">
                </p>
                <div class="form-group">
                    <label>Cause</label>
                    <select name="valute" class="form-control">
                        <option th:each="val : ${valutes}"
                                th:value="${val.getShortName()}"
                                th:text="${val.getShortName()}"
                                required>
                        </option>

                    </select>
                </div>
                <!--<p>
                    <label for="valute" class="sr-only">prezime</label>
                    <input type="text" id="valute" name="valute" class="form-control" placeholder="valute" required=""
                           autofocus="">
                </p>-->
                <select name="paymentMethod" class="form-control">
                    <option th:each="pm : ${paymentMethods}"
                            th:value="${pm.name()}"
                            th:text="${pm.name()}">
                    </option>

                </select>
                <div class="form-group">
                    <label>Cause</label>
                    <select name="donationCauseId" class="form-control">
                        <option th:each="cause : ${causesList}"
                                th:value="${cause.getId()}"
                                th:text="${cause.getName()}"
                                required>
                        </option>

                    </select>
                </div>

                <button class="btn btn-lg btn-primary btn-block" style="width: 120px" type="submit">DONATE</button>
            </form>

        </div>
        <footer th:replace="fragments/footer.html"/>
    </body>
</html>