<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
        <header th:replace="fragments/navbar.html"/>


        <div class="container">
            <form class="form-signin mt-xl-5" method="post" action="/register">
                <h2 class="form-signin-heading">Register</h2>
                <div class="errorMessage">
                    <p class="errorMessageText" style="color: red" th:if="${hasError}" th:text="${error}"></p>
                </div>
                <p>
                    <label for="username" class="sr-only">username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="username" required=""
                           autofocus="">
                </p>
                <p>
                    <label for="ime" class="sr-only">ime</label>
                    <input type="text" id="ime" name="ime" class="form-control" placeholder="ime" required=""
                           autofocus="">
                </p>
                <p>
                    <label for="prezime" class="sr-only">prezime</label>
                    <input type="text" id="prezime" name="prezime" class="form-control" placeholder="prezime" required=""
                           autofocus="">
                </p>
                <!--<p>
                    <label for="id_grad" class="sr-only">id_grad</label>
                    <input type="text" id="id_grad" name="id_grad" class="form-control" placeholder="id_grad" required=""
                           autofocus="">
                </p>-->
                <div class="form-group">
                    <label>City</label>
                    <select name="city" class="form-control">
                        <option th:each="city : ${cityList}"
                                th:value="${city.name()}"
                                th:text="${city.name()}">
                        </option>

                    </select>
                </div>
                <p>
                    <label for="email" class="sr-only">email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="email" required=""
                           autofocus="">
                </p>
                <p>
                    <label for="password" class="sr-only">password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="password" required=""
                           autofocus="">
                </p>
                <p>
                    <label for="repeatPass" class="sr-only">repeatPass</label>
                    <input type="password" id="repeatPass" name="repeatPass" class="form-control" placeholder="repeatPass" required=""
                           autofocus="">
                </p>
                <div th:if="${admin} == true">
                    <label>Work places:</label><br/>
                    <select id="worksAtList" name="worksAtList" multiple="multiple" size="5">
                        <option th:each="item : ${worksAtList}" th:text="${item.getAddress()}" th:value="${item.getId()}"> [menuItem.name]</option>
                    </select>
                </div>
          <!--      <p>
                    <label for="id_centar" class="sr-only">id_centar</label>
                    <input type="text" id="id_centar" name="id_centar" class="form-control" placeholder="id_centar" required=""
                           autofocus="">
                </p>-->

                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>

        </div>
        <footer th:replace="fragments/footer.html"/>
    </body>
</html>