<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Centers</title>
        <link rel="stylesheet" href="http://formoid.com/articles/data/upload/theme/style.min.css">
        <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
        <link rel="stylesheet" th:href="@{/css/mainPages/centers.css}">
    </head>
    <body>
        <header th:replace="fragments/navbar.html"/>

        <section class="features2 cid-qxWAQuan7h" id="features2-ph" data-rv-view="9966">
            <div class="container">
                <div class="errorMessage">
                    <p class="errorMessageText" style="color: red;" th:if="${hasError}" th:text="${error}"></p>
                </div>
                <!-------------------------------------------RED OD 4 CENTRI------------------------------------------->
                <div class="media-container-row">
                    <div th:each="center : ${centerList}" class="card p-4 col-12 col-md-6 col-lg-4 edenCentar">
                        <!-------------------------------------------EDEN CENTAR------------------------------------------->
                        <div class="card-wrapper">
                            <div class="card-img">

                                <a th:href="@{'/centers/details/{id}' (id=${center.getId()})}">
                                <div class="img_wrapper">
                                    <img class="centerImg" th:src="${center.getUrl()}">
                                </div>
                                </a>
                            </div>
                            <div class="centerInfoDiv">
                                <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                    <p class="imeGradP" th:text="${center.getCity().name()}"></p>
                                    <p class="adresaCentarP" th:text="${center.getAddress()}"></p>
                                </h4>
                            </div>
                            <form th:method="DELETE" th:action="@{'/centers/deleteCenter/{id}' (id=${center.getId()})}">
                                <button class="delete_button"  type="submit" sec:authorize="hasRole('ROLE_ADMIN')">DELETE</button>
                            </form>
                            <a class="editCenter" th:href="@{'/centers/edit-form/{id}' (id=${center.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')">
                                <i>Edit</i>
                            </a>
                        </div>
                        <!-------------------------------------------EDEN CENTAR------------------------------------------->
                    </div>
                </div>
                <!-------------------------------------------RED OD 4 CENTRI------------------------------------------->
            </div>
            <div class="add_center_button_div">
                <a class="add_center_button" href="/centers/add-form" sec:authorize="hasRole('ROLE_ADMIN')">
                    ADD CENTER
                </a>
            </div>

        </section>
        <footer th:replace="fragments/footer.html"/>
    </body>
</html>