<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Adopted pets</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.css"/>
        <link rel="stylesheet" th:href="@{/css/mainPages/allPets.css}"> </link>
    </head>

    <body>
    <!-------------------------------------HEADER------------------------------------->
        <header th:replace="fragments/navbar.html"/>
    <!-------------------------------------HEADER------------------------------------->

    <!-------------------------------------BODY------------------------------------->
        <div class="bodyContent">
            <!-------------------------------------WHITE BACKGROUND------------------------------------->
            <div class="whiteBackground">
                <section class="features2 cid-qxWAQuan7h" id="features2-ph" data-rv-view="9966">

                    <!-------------------------------------SMALL NAVBAR------------------------------------->
                    <ul class="smallNavBarUl">
                        <li class="smallNavBarLi">
                            <a href="/petsList/pets-info/all">All Pets</a>
                        </li>
                        <li class="smallNavBarLi">
                            <a class="active" href="/petsList/pets-info/adopted">Adopted pets</a>
                        </li>
                        <li class="smallNavBarLi">
                            <a href="/petsList/pets-info/avaliable">Avaliable Pets</a>
                        </li>
                    </ul>
                    <!-------------------------------------SMALL NAVBAR------------------------------------->



                    <!-------------------------------------TITLE------------------------------------->
                    <h1 style="text-align: center; font-weight: bold">ADOPTED PETS</h1>
                    <!-------------------------------------TITLE------------------------------------->


                    <div class="errorMessage">
                        <p class="errorMessageText" style="color: red;" th:if="${hasError}" th:text="${error}"></p>
                    </div>


                    <!-------------------------------------TABLE ADOPTED PETS------------------------------------->
                    <div class="row adoptedPetsMainDiv">
                        <!--CHECK IF TABLE IS EMPTY-->
                        <div class="col-12 tableCheckIfPetlistNull">
                            <div class="table-responsive">
                                <!--TABLE-->
                                <table class="table table-striped">

                                    <thead>
                                        <!--TABLE TITLE AND SEARCH-->
                                        <tr class="adoptedPetsTableTitleRow">
                                            <div class="row">
                                                <!--title-->
                                                <div class="col-md-9 adoptedPetsTableTitle">
                                                    ADOPTED PETS:
                                                </div>
                                                <!--title-->

                                                <!--search-->
                                                <div class="col-md-3 adoptedPetsTableSearch">
                                                    <label class="tableSearchTitle adoptedPetsTableSearchTitle">
                                                        Search:
                                                    </label>
                                                    <form class="adoptedPetsTableSearchForm" id="filter-form">

                                                        <label class="adoptedPetsTableSearchIdLabel" for="petSearch">Pet ID:</label>
                                                        <input class="adoptedPetsTableSearchIdInput" id="petSearch" type="number" name="petSearch"/>
                                                            <br>
                                                        <label class="adoptedPetsTableSearchIdLabel" for="userSearch">Username:</label>
                                                        <input class="adoptedPetsTableSearchIdInput" id="userSearch" type="text" name="userSearch"/>

                                                        </br>
                                                        <button class="adoptedPetsTableSearchButton" id="filter" type="submit">Filter</button>
                                                        </br>

                                                    </form>
                                                </div>
                                                <!--search-->
                                            </div>
                                        </tr>
                                        <!--TABLE TITLE AND SEARCH-->

                                        <!--TABLE COLUMNS-->
                                        <tr class="petsTableColumns adoptedPetsTableColumns">
                                            <th scope="col"></th>
                                            <th scope="col">ID:</th>
                                            <th scope="col">NAME:</th>
                                            <th scope="col">TYPE:</th>
                                            <th scope="col">PET AGE:</th>
                                            <th scope="col">PET GENDER:</th>
                                            <th scope="col">PET BREED:</th>
                                            <th scope="col">C#:</th>
                                            <th scope="col">CITY:</th>
                                            <th scope="col">ARRIVAL DATE:</th>
                                            <th scope="col">ADOPTION DATE:</th>
                                            <th scope="col">OWNER:</th>
                                            <th scope="col">CONTACT:</th>
                                            <th scope="col">OWNER CITY:</th>
                                            <th scope="col">ACTIONS:</th>
                                        </tr>
                                        <!--TABLE COLUMNS-->
                                    </thead>

                                    <tbody>
                                        <!--SINGLE PET ROW-->
                                        <tr th:each="pet : ${adoptions}" th:id="${pet.getStatus().name()}" class="adoptedPetsTablePetRow">

                                            <!--INFO ABOUT PET-->
                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd">
                                                <img class="petImg" th:src="${pet.getPet().getUrl()}" alt="Pet Image" title="" media-simple="true">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd">
                                                <strong>#</strong>
                                                <strong th:text="${pet.getPet().getId()}"></strong>
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" th:text="${pet.getPet().getName()}">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="type" th:text="${pet.getPet().getType().name()}">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="age" th:text="${pet.getPet().getAge()}">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="gender" th:text="${pet.getPet().getGender().name()}">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="breed" th:if="${pet.getPet().getBreed() != ''}" th:text="${pet.getPet().getBreed()} ">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="breed" th:if="${pet.getPet().getBreed() == ''}">
                                                /
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="center" th:text="${pet.getPet().getCenter().getId()}">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="petCity" th:text="${pet.getPet().getCenter().getCity().name()}">
                                            </td>
                                            <!--INFO ABOUT PET-->

                                            <!--INFO ABOUT ADOPTION-->
                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="arrivalDate" th:text="${#strings.substringBefore(pet.getPet().getArivalDate(),'T')}"></td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="date"  th:text="${#strings.substringBefore(pet.getAdoptionTime(),'T')}"></td>
                                            <!--INFO ABOUT ADOPTION-->

                                            <!--INFO ABOUT OWNER-->
                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" th:if="${pet.getUser()} != null">
                                                <strong class="nameText" th:text="${pet.getUser().getUsername()}"></strong>
                                               (<strong class="nameText" th:text="${pet.getUser().getName()}"></strong>
                                                <strong class="nameText" th:text="${pet.getUser().getLastname()}"></strong>)
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="breed" th:if="${pet.getUser().getEmail() != ''}" th:text="${pet.getUser().getEmail()} ">
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" id="breed" th:if="${pet.getUser().getEmail() == ''}">
                                                /
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" th:if="${pet.getUser()} != null">
                                                <strong class="nameText" id="ownerCity" th:text="${pet.getUser().getCity().name()}"></strong>
                                            </td>

                                            <td class="petsTableBodyTd adoptedPetsTableBodyTd" th:if="${pet.getStatus().name()} == 'ACTIVE'">
                                                <form th:method="POST" th:action="@{'/adopt/cancel/{id}' (id=${pet.getId()})}">
                                                    <button class="adopt_button"  type="submit">CANCEL</button>
                                                </form>
                                                <form th:method="POST" th:action="@{'/adopt/confirm/{id}' (id=${pet.getId()})}">
                                                    <button class="adopt_button"  type="submit">CONFIRM</button>
                                                </form>
                                            </td>

                                        </tr>


                                        <!--SINGLE PET ROW-->
                                    </tbody>

                                </table>
                                <!--TABLE-->
                            </div>
                        </div>
                        <!--CHECK IF TABLE IS EMPTY-->
                    </div>
                    <!-------------------------------------TABLE ADOPTED PETS------------------------------------->


                    <!-------------------------------------VISUALISATIONS------------------------------------->
                    <div class="visualisations">
                        </br>
                        </br>

                        <!--TITLE-->
                        <hr/>
                            <h2 class="visuTitle">VISUALISATIONS:</h2>
                        <hr/>
                        <!--TITLE-->

                        <!--TYPE AGE BREED GENDER-->
                        <div class="row" style="padding-bottom: 70px">

                            <!--TYPE-->
                            <div class="col-md-3">
                                <div class="row2graphDiv">
                                    <div class="row svgGraphDiv" >
                                        <div id="aTypeVisu" class="dcGraphDiv">
                                            <div>
                                                <span class="reset spanStyle" >
                                                    Selected:
                                                    <span class="filter"></span>
                                                </span>
                                                <a class="reset spanStyle" href="javascript:typeChart.filterAll();dc.redrawAll();" >reset</a>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="graphLabel">
                                            Number of dogs vs cats
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--TYPE-->

                            <!--GENDER-->
                            <div class="col-md-3">
                                <div class="row2graphDiv">
                                    <div class="row svgGraphDiv" >
                                        <div id="aGenderVisu" class="dcGraphDiv">
                                            <div >
                                                <span class="reset spanStyle" >
                                                    Selected:
                                                    <span class="filter"></span>
                                                </span>
                                                <a class="reset spanStyle" href="javascript:genderChart.filterAll();dc.redrawAll();">
                                                    reset
                                                </a>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="graphLabel">
                                            Number of female vs male animals
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--GENDER-->

                            <!--AGE-->
                            <div class="col-md-3">
                                <div class="row2graphDiv">
                                    <div class="row svgGraphDiv" >
                                        <div id="aAgeVisu" class="dcGraphDiv">
                                            <div>
                                                <span class="reset spanStyle" >
                                                    Selected:
                                                    <span class="filter"></span>
                                                </span>
                                                <a class="reset spanStyle" href="javascript:ageChart.filterAll();dc.redrawAll();" >
                                                    reset
                                                </a>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="graphLabel">
                                            Number of animals per age
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--AGE-->

                            <!--BREED-->
                            <div class="col-md-3">
                                <div class="row2graphDiv">
                                    <div class="row svgGraphDiv" >
                                        <div id="aBreedVisu" sclass="dcGraphDiv">
                                            <div >
                                                <span class="reset spanStyle" >
                                                    Selected:
                                                    <span class="filter"></span>
                                                </span>
                                                <a class="reset spanStyle" href="javascript:breedChart.filterAll();dc.redrawAll();" >
                                                    reset
                                                </a>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="graphLabel">
                                            Number of animals per breed
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--BREED-->

                        </div>
                        <!--TYPE AGE BREED GENDER-->

                        <!--CITIES AND CENTERS-->
                        <div class="row" style="padding-bottom: 70px">

                            <!--CITIES-->
                            <div class="col-md-4">
                                <div class="row3graphDiv" >
                                    <div class="row svgGraphDiv" >
                                        <div class="dcGraphDiv" id="aCityVisu">
                                            <div>
                                                <span class="reset spanStyle">
                                                    Selected:
                                                    <span class="filter"></span>
                                                </span>
                                                <a class="reset spanStyle" href="javascript:cityChart.filterAll();dc.redrawAll();" >
                                                    reset
                                                </a>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <p class="graphLabel">
                                            Number of animals per city
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--CITIES-->

                            <!--CENTERS-->
                            <div class="col-md-4">
                                <div class="row3graphDiv" >
                                    <div class="row svgGraphDiv" >
                                        <div class="dcGraphDiv" id="aCenterVisu">
                                            <div>
                                                <span class="reset spanStyle" >
                                                    Selected:
                                                    <span class="filter"></span>
                                                </span>
                                                <a class="reset spanStyle" href="javascript:centerChart.filterAll();dc.redrawAll();" >
                                                    reset
                                                </a>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="graphLabel">
                                            Number of animals per center
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--CENTERS-->

                            <!--RESETALL-->
                            <div>
                                <div class="dc-data-count">
                                    <span class="filter-count"></span> selected out of <span class="total-count"></span> records | <a
                                        href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
                                </div>
                            </div>
                            <!--RESETALL-->

                        </div>
                        <!--CITIES AND CENTERS-->
                    </div>
                    <!-------------------------------------VISUALISATIONS------------------------------------->

                </section>
            </div>
            <!-------------------------------------WHITE BACKGROUND------------------------------------->
        </div>
    <!-------------------------------------BODY------------------------------------->

    <!-------------------------------------FOOTER------------------------------------->
        <footer th:replace="fragments/footer.html"/>
    <!-------------------------------------FOOTER------------------------------------->

    <!-------------------------------------SCRIPTS------------------------------------->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <!--<script type="text/javascript" th:src="@{/js/indexD3.js}"> </script>-->
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.js"></script>
        <script type="text/javascript" th:src="@{/js/indexDC-adopted.js}"> </script>
    <!-------------------------------------SCRIPTS------------------------------------->
    </body>
</html>