<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <title>Pets</title>
        <link rel="stylesheet" href="http://formoid.com/articles/data/upload/theme/style.min.css">
        <link rel="stylesheet" th:href="@{/css/mainPages/pets.css}"> </link>
    </head>

    <body>
    <!-------------------------------------------HEADER------------------------------------------->
        <header th:replace="fragments/navbar.html"/>
    <!-------------------------------------------HEADER------------------------------------------->

    <!-------------------------------------------BODY------------------------------------------->
        <div class="bodyContent">
            <!-------------------------------------------WHITE BACKGROUND------------------------------------------->
            <section class="features2 cid-qxWAQuan7h" id="features2-ph" data-rv-view="9966">

                <!-------------------------------------------SEARCH PETS------------------------------------------->
                <div class="row searchPets">
                    <!--TITLE FOR SEARCH-->
                    <p class="searchTitle">SEARCH PETS: </p>
                    <!--TITLE FOR SEARCH-->

                    <!--FORM FOR SEARCH-->
                    <form id="filter-form">
                        <div class="copyFilter">
                            <!--AGE SEARCH-->
                            <select id="ageSearch" name="ageSearch">
                                <option value="">Age</option>
                                <option value="lessThanYear"> less than 1 year </option>
                                <option value="oneToTwoYears"> 1-2 years </option>
                                <option value="threeToFiveYears"> 3-5 years </option>
                                <option value="sixToNineYears"> 6-9 years </option>
                                <option value="tenYearsOrOlder"> over 9 years </option>
                            </select>
                            <!--AGE SEARCH-->

                            <!--BREED SEARCH-->
                            <div class="breedSearch">
                                <label for="breedSearch">Breed</label>
                                <input id="breedSearch" type="text" name="breedSearch"/>
                            </div>
                            <!--BREED SEARCH-->

                            <!--GENDER SEARCH-->
                            <select id="genderSearch" name="genderSearch">
                                <option value="">Gender</option>
                                <option id="femaleFilter" value="FEMALE">FEMALE</option>
                                <option id="maleFilter" value="MALE">MALE</option>
                            </select>
                            <!--GENDER SEARCH-->

                            <!--TYPE SEARCH-->
                            <select id="typeSearch" name="typeSearch">
                                <option value="">Type</option>
                                <option id="dogFilter" value="DOG">DOG</option>
                                <option id="catFilter" value="CAT">CAT</option>
                            </select>
                            <!--TYPE SEARCH-->
                            <br/>
                            <button id="filter" type="submit">Search</button>
                        </div>
                    </form>
                    <!--FORM FOR SEARCH-->
                </div>
                <!-------------------------------------------SEARCH PETS------------------------------------------->

                <!-------------------------------------------PETS LIST------------------------------------------->
                <div class="container">
                <!-------------------------------------------THREE PETS ROW------------------------------------------->
                    <div class="media-container-row">
                        <!------------------------------------ONE PET---------------------------------------->
                        <div th:each="petList : ${petList}" class="card p-4 col-12 col-md-6 col-lg-4 pet">

                            <!--PET PICTURE AND INFO-->
                            <div class="card-wrapper">
                                <!--PET PICTURE-->
                                <div class="card-img">
                                    <a class="petAnchor" th:href="@{'/petsList/details/{id}' (id=${petList.getId()})}">
                                        <div class="pet_img_div">
                                            <img class="pet_img" th:src="${petList.getUrl()}" alt="Pet image" media-simple="true">
                                        </div>
                                    </a>
                                </div>
                                <!--PET PICTURE-->

                                <!--SHORT INFO ABOUT PET-->
                                <div class="pet_info_div">
                                    <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                        <strong th:text="${petList.getName()}" class="pet_info_div_strong" ></strong>
                                        <strong class="pet_info_div_strong">,</strong>
                                        <th:block th:if="${petList.getGender().name() == 'FEMALE' }">
                                            <img src="https://vignette.wikia.nocookie.net/theizabran/images/9/99/Female.png/revision/latest?cb=20171014154044" class="pet_info_div_female_img">
                                        </th:block>
                                        <th:block th:if="${petList.getGender().name() == 'MALE' }">
                                            <img src="https://www.freeiconspng.com/uploads/male-symbols-icon-6.png" class="pet_info_div_male_img">
                                        </th:block>
                                        <strong class="pet_info_div_strong">,</strong>
                                        <strong class="pet_info_div_strong" th:text="${petList.getAge()}"></strong>
                                    </h4>
                                </div>
                                <!--SHORT INFO ABOUT PET-->
                            </div>
                            <!--PET PICTURE AND INFO-->

                            <!--PET POST ACTIONS-->
                            <div class="petPostActions">
                                <!--ADOPT PET-->
                                <!--<form th:method="POST" th:action="@{'/adopt/adoptedPett/{id}' (id=${petList.getId()})}">
                                    <button class="adopt_button"  type="submit">ADOPT</button>
                                </form>-->
                                <!--ADOPT PET-->

                                <!--DELETE PET-->
                                <form th:method="DELETE" th:action="@{'/petsList/deletePet/{id}' (id=${petList.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <button class="delete_button"  type="submit">Delete</button>
                                </form>
                                <!--DELETE PET-->

                                <!--EDIT PET-->
                                <a class="editPet" th:href="@{'/petsList/edit-form/{id}' (id=${petList.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <i>Edit</i>
                                </a>
                                <!--EDIT PET-->
                            </div>
                            <!--PET POST ACTIONS-->

                        </div>
                        <!------------------------------------ONE PET---------------------------------------->
                    </div>
                <!-------------------------------------------THREE PETS ROW------------------------------------------->
                </div>
                <!-------------------------------------------PETS LIST------------------------------------------->

                <!-------------------------------------------ADD PET------------------------------------------->
                <br>
                <br>
                <div class="add_pet_button_div">
                    <a class="add_pet_button" href="/petsList/add-form" sec:authorize="hasRole('ROLE_ADMIN')">
                        ADD PET
                    </a>
                </div>
                <!-------------------------------------------ADD PET------------------------------------------->
            </section>
            <!-------------------------------------------WHITE BACKGROUND------------------------------------------->
        </div>
    <!-------------------------------------------BODY------------------------------------------->

    <!-------------------------------------------FOOTER------------------------------------------->
        <footer th:replace="fragments/footer.html"/>
    <!-------------------------------------------FOOTER------------------------------------------->

    </body>
</html>